:root {
  --green: #0F8C79;
  --green-light: #6BBBA1;
  --red: #BD2D28;
  --red-light: #E25A42;

  --white: #fff;
  --gray-10: #F5F3F2;
  --gray-15: #e4e4e3;
  --gray-20: #C0C0BB;
  --gray-30: #8E8883;
  --gray-40: #635F5D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;  

  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

svg {
  display: block;
  margin: 0 auto;
}


.line-path {
  fill: none;
  stroke: maroon;
  stroke-width: 5;
  stroke-linejoin: round;
}



text {
  font-family: sans-serif;
}

.tick text {
  font-size: 2em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 5em;
  fill: #8E8883;
}

.title {
  font-size: 3.7em;
  fill: #635F5D;
}