:root {
  --green: #0F8C79;
  --green-light: #6BBBA1;
  --red: #BD2D28;
  --red-light: #E25A42;

  --white: #fff;
  --gray-10: #F5F3F2;
  --gray-15: #e4e4e3;
  --gray-20: #C0C0BB;
  --gray-30: #8E8883;
  --gray-40: #635F5D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;  

  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

svg {
  display: block;
  margin: 10px auto;
}

/* .cell {
  fill: cornflowerblue;
} */

.cell:hover {
  fill: crimson;
}

.line-path {
  fill: none;
  stroke: maroon;
  stroke-width: 5;
  stroke-linejoin: round;
}



text {
  font-family: sans-serif;
}

.tick text {
  font-size: 1.2em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 5em;
  fill: #8E8883;
}

.title {
  font-size: 1.8em;
  fill: var(--gray-40);

}

.description {
  font-size: 1.5em;
  fill: var(--gray-30);
}

.tooltip {
  position: absolute;
  width: 150px;
  padding: 10px;
  border-radius: 6px;
  color: var(--white);
  background-color: rgba(0,0,0, .8);
  text-align: center;
 
  pointer-events: none;
  transform: translate(-50%, 0);
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  justify-content: center;
}

.tooltip-name {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--white);
  margin-bottom: 10px;
}

.tooltip-details {
  line-height: 1.7;
  text-align: left;
  align-self: flex-start;
}